@import 'libs/bootstrap-reboot.min';
@import '_nullstyle';
* {
	box-sizing: border-box;
}

body {
	max-width: 1440px;
	min-width: 1440px;
	margin: 0 auto;
	padding: 0 50px;
	color: #333333;
}

.all-btn {
	&:focus {
		outline: none;
	}
	&:active {
		transform: scale(1.03);
	}
}

@import './block/header.scss';
@import './block/main.scss';
@import './block/achieve.scss';
@import './block/testing.scss';
@import './block/about.scss';
@import './block/thanks.scss';
