.section_4 {
	margin-top: 62px;
	padding-top: 86px;
	padding-bottom: 70px;
	background-color: #f3f3f3;

	.section_4-title {
		display: flex;
		justify-content: center;
		font-weight: 600;
		font-family: 'Raleway', sans-serif;
		font-size: 1.563rem;
	}
	.section_4-client {
		margin-top: 45px;
		//display: flex;
		//justify-content: center;
		margin: 45px auto 0 auto;
		width: 957px;
		height: 557px;
		img {
			width: 100%;
		}
	}
	.section_4-company {
		margin-top: 66px;
		display: flex;
		justify-content: center;
		.company-item {
		}
	}
}
