.section_6 {
	margin-top: 91px;
	.section_6-container {
		display: flex;
		justify-content: center;
	}

	.section_6-container-item {
		font-family: 'Raleway', sans-serif;
		font-size: 1.125rem;
		line-height: 24px;
		margin-right: 100px;

		&:last-child {
			margin-right: 0px;
		}

		a {
			display: block;
			margin-top: 20px;
			font-weight: 500;
			color: #000000;
		}

		.readmore {
			display: inline;
		}

		p {
			color: #000000;
			font-weight: 600;
		}
		.gorizont-line {
			width: 50px;
			height: 2px;
			background-color: #00a692;
		}

		.section_6-blog {
			margin-top: 20px;
			color: rgba($color: #000000, $alpha: 0.5);
		}
	}
}
