.section_2 {
	margin-top: 69px;
	padding-bottom: 63px;
	background-color: #f3f3f3;
}

.section_3 {
}

.section-container {
	display: flex;
	justify-content: space-between;
	padding-left: 50px;
	padding-right: 50px;

	.section_2-column-left {
		width: 400px;
		margin-right: 30px;
	}

	.section_3-column-right {
		width: 400px;
	}
}

.section_3-container {
	justify-content: space-around;
}

.section-column {
	.column-img {
		margin-top: 64px;
		img {
		}
	}
	.column-title {
		font-weight: 600;
		font-family: 'Raleway', sans-serif;
		font-size: 2.188rem;
		margin-top: 15px;
		line-height: 48px;
	}

	.column-descr {
		font-weight: 400;
		font-family: 'Roboto', sans-serif;
		font-size: 0.94rem;
		color: rgba($color: #333333, $alpha: 0.5);
		margin-top: 32px;
		line-height: 21px;
	}
	.column-more {
		display: block;
		margin-top: 25px;
		color: #4bee6f;
		font-family: 'Roboto';
		font-weight: 500;
		font-size: 0.94rem;
		&::after {
			content: url('../../src/img/section2/arrow1.png');
			display: inline-block;
			width: 15px;
			height: 15px;
			margin-left: 5px;
		}
	}
	.column-social {
		margin-top: 107px;
		width: 679px;
		height: 444px;
		//img {
		//	width: 100%;
		//}
	}
	.column-brends {
		margin-top: 78px;
		width: 528px;
		height: 501px;
	}
}
