.section_1 {
	position: relative;
	.blobs {
		position: absolute;
		z-index: -1;
		top: -40px;
		right: -50px;
	}
	.section_1-navigation_bar {
		display: flex;
		justify-content: right;
		margin-top: 35px;
		a {
			color: #ffffff;
			font-weight: bold;
			font-family: 'Raleway', sans-serif;
			font-size: 0.625rem;
			display: block;
			margin-right: 25px;
		}
		:last-child {
			margin-right: 0px;
		}
		.sign-up {
			border: 1px solid #ffffff;
			padding: 7px 22px;
			border-radius: 50px;
			margin-top: -7px;
		}
		.section_1-navigation_line {
			width: 1.2px;
			height: 19px;
			background-color: #ffffff;
			margin-right: 25px;
			margin-top: -5px;
		}
	}

	.section_1-container {
		margin-top: 202px;
		//border: 1px red solid;
		display: flex;
		justify-content: space-between;
		.section_1-text {
			width: 426px;
			position: relative;
			.dashboard-icon-vector {
				position: absolute;
				top: -100px;
				left: 40px;
			}
			.dashboard-icon-elips-2 {
				position: absolute;
				top: -50px;
				right: 30px;
			}
			.text-title {
				font-weight: bold;
				font-family: 'Raleway', sans-serif;
				font-size: 3.125rem;
				color: #333333;
			}
			.text-desc {
				font-weight: 400;
				font-family: 'Roboto', sans-serif;
				color: rgba($color: #333333, $alpha: 0.5);
				margin-top: 25px;
				line-height: 34.94px;
				font-size: 1.25rem;
			}

			.section_1-btn {
				font-weight: 600;
				font-family: 'Raleway', sans-serif;
				width: 322px;
				height: 55px;
				border-radius: 50px;
				color: #ffffff;
				background-color: #1ff0d7;
				margin-top: 30px;
			}
		}
		.section_1-dashboard {
			position: relative;
			.dashboard {
				max-width: 690px;
			}
			.dashboard-icon-search {
				position: absolute;
				top: -75px;
				right: 40px;
			}
			.dashboard-icon-menu {
				position: absolute;
				bottom: 90px;
				left: 50px;
			}
			.dashboard-icon-elips {
				position: absolute;
				top: -75px;
				left: 165px;
			}
			.dashboard-icon-reqtangl {
				position: absolute;
				bottom: 135px;
				right: 30px;
				z-index: -1;
			}
		}
	}
	.options {
		display: flex;
		max-width: 1000px;

		.options-row {
			font-family: 'Roboto', sans-serif;
			width: 33%;
			margin-right: 160px;
			justify-content: center;
			text-align: center;
			.options-img {
				width: 187px;
				margin: 0 auto;
			}
			.options-title {
				font-weight: 700;
				font-size: 1.125rem;
			}

			.options-descr {
				margin-top: 15px;
				font-weight: 400;
				font-size: 0.94rem;
				color: rgba($color: #333333, $alpha: 0.5);
				line-height: 26px;
			}
		}
		:last-child {
			margin-right: 0;
		}
		margin: 245px auto 0 auto;
	}
}
